

@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;

  }

  h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
}

