
.section-about h1  {
  color:black;
  font-size: 2em;
  padding-top: 18%;
}

.section-about .zoom{
  padding: 170px;
  background-color: rgb(170, 169, 169);
  transition: transform .2s;  
  width: 500px;
  height: 200px;
  margin: 5% 10%;
}

.section-about .zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  
}


